

body {
    background-color: #1f1f20;
}

.menu {
    text-align: center;
    align-items: center;

}

.menu ul{
    display: inline-block;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px 10px 20px;
    margin-left: -30px;
    font-size: large;
}

#current {
    background-color: #DB1E1E;
    border-radius: 10px;
}